<% include ./partials/header%>
    <link rel="stylesheet" type="text/css" href="/stylesheet/testall.css">
    <link rel="stylesheet" type="text/css" href="/stylesheet/tump-btn.css">
    </head>

    <body>

        <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->


        <div id="wrapper">
            <div id="content">
                    <%include ./partials/navbar%>
                <!------ Include the above in your HEAD tag ---------->
                <div class="container">
                    <div class="row">
                        <div class="registerform">
                            <form class="form-horizontal" action="/register" method="POST">
                                <fieldset>

                                    <!-- Form Name -->
                                    <legend>
                                        <h1>Edit <Strong><%=currentUser.username%></Strong> info</h1>
                                    </legend>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="Name">Username</label>
                                        <div class="col-md-5">
                                            <input id="Name" name="username" type="text" placeholder="username" class="form-control input-md" value="<%=currentUser.username%>"
                                                disabled>
                                        </div>
                                    </div>



                                    <!-- ST-ID input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="Studen ID">Studen ID</label>
                                        <div class="col-md-5">
                                            <input id="Studen_ID" type="Studen_ID" placeholder="Studen ID" class="form-control input-md" value="<%=currentUser.studentID%>"
                                                disabled>
                                        </div>
                                    </div>

                                    <!-- name -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="name">Name</label>
                                        <div class="col-md-5">
                                            <input id="name" name="name" type="name" placeholder="Somsak" class="form-control input-md" value="<%=currentUser.name%>"
                                                required="">
                                        </div>
                                    </div>

                                    <!-- surname -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="surname">Surname</label>
                                        <div class="col-md-5">
                                            <input id="surname" name="surname" type="surname" placeholder="Jirakul" class="form-control input-md" value="<%=currentUser.surname%>"
                                                required="">
                                        </div>
                                    </div>



                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="mobilenumber">Mobile Number</label>
                                        <div class="col-md-5">
                                            <input id="mobilenumber" name="tel" type="text" placeholder="Mobile Number" class="form-control input-md" value="<%=currentUser.tel%>"
                                                required="">
                                        </div>
                                    </div>

                                    <!-- line ID input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="lineID">Line ID</label>
                                        <div class="col-md-5">
                                            <input id="lineID" name="lineID" type="text" placeholder="Line ID" class="form-control input-md" value="<%=currentUser.lineID%>"
                                                required="">
                                        </div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="emailId">Email</label>
                                        <div class="col-md-5">
                                            <input id="emailId" name="email" type="text" placeholder="user@domain.com" class="form-control input-md" value="<%=currentUser.email%>"
                                                required="">
                                        </div>
                                    </div>


                                    <!-- Textarea -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="address">Address</label>
                                        <div class="col-md-4">
                                            <textarea class="form-control" id="address" name="address"><%=currentUser.address%></textarea>
                                        </div>
                                    </div>

                                    <!-- Button -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="submit"></label>
                                        <div class="col-md-4">
                                            <a href="register.html"><button id="submit" name="submit" class="btn btn-success btn-lg">Submit</button></a>
                                            <a href="/changePass/<%=currentUser._id%>" class="pull-right">change password</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <% include ./partials/modalLogin %>
            </div>
            <% include ./partials/footer %>
        </div>
    </body>

    </html>