<% include ./partials/header%>

<link rel="stylesheet" type="text/css" href="/stylesheet/testall.css">
<link rel="stylesheet" type="text/css" href="/stylesheet/add-app-return.css">

<script>
    function toggle(source) {
        checkboxes = document.getElementsByName('item');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>

</head>

<body>
    <div id="wrapper">
        <div id="content">
            <%include ./partials/navbar%>
            <div class="registerform">
                <legend>
                    <h1>Student Info</h1>
                </legend>
                <table class="table table-hover paginated">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name Surname</th>
                            <th>Tel.</th>
                            <th>Line ID</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Edit Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%studentInfo.forEach(function(student){%>
                            <%if(student.role!="admin"){%>
                        <tr>
                            <td class="col-md-1">
                                <%=student.studentID%>
                            </td>
                            <td class="col-md-2">
                                <%=student.name%>
                                <%=student.surname%>
                            </td>
                            <td class="col-md-2">
                                <%=student.tel%>
                            </td>
                            <td class="col-md-2">
                                <%=student.lineID%>
                            </td>
                            <td class="col-md-2">
                                <%=student.email%>
                            </td>
                            <td class="col-md-2">
                                <%=student.address%>
                            </td>
                            <td class="col-md-1">
                                <a class="btn btn-success btn-md" data-toggle="modal" href="/editInfo/<%=student._id%>">Edit</a>
                            </td>
                        </tr>
                        <%}%>
                        <%})%>
                    </tbody>
            </div>
            </table>
        </div>
    </div>
    <% include ./partials/footer %>
    </div>

    <script src="/script/script.js"></script>

</body>

</html>