<% include ../partials/header%>

<link rel="stylesheet" type="text/css" href="/stylesheet/testall.css">
<link rel="stylesheet" type="text/css" href="/stylesheet/add-app-return.css">
<script>
    function toggle(source) {
  checkboxes = document.getElementsByName('item');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
    </script>
</head>

<body>
    <div id="wrapper">
        <div id="content">
            <%include ../partials/navbar%>
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Borrow pending</a></li>
                    <li><a href="History-mem-pen-re.html">Return pending</a></li>
                </ul>
            </div>
            <div class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Borrow ID</th>
                            <th>Author</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%returnns.forEach(function(returnn){%>
                        <tr>

                            <td>
                                <a class="btn btn-danger btn-xs" href="/returnn/del/<%=returnn._id%>">X</a>
                                <%=returnn._id%>
                            </td>
                            <td>
                                <%=returnn.author.name%>
                            </td>
                            <td>
                                <%=returnn.repatriate%>
                                <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal2<%=returnn._id%>">detail</a>

                            </td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
        </div>
        <% include ../partials/footer %>
    </div>

    <%returnns.forEach(function(returnn){%>
    <div class="modal fade" id="myModal2<%=returnn._id%>" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-folder-open"></span>
                        :Item list
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Picture</th>
                                <th>Items Name</th>
                                <th>Quantity</th>
                                <th>ID</th>
                                <th>Del</th>
                            </tr>
                            <form action="/returnn/confirm/<%=returnn._id%>" method="POST">
                        </thead>
                        <tbody>
                            <%for(var item=0; item<returnn.itemID.length;item++){ %>
                            <tr>
                                <td><img src="/<%=returnn.pic[item]%>" style="width:50px;"></td>
                                <td>
                                    <%=returnn.itemName[item]%></strong></p>

                                </td>
                                <td>
                                    <%if(returnn.ID[item]==""){%>
                                    <%=returnn.qty[item]%>
                                    <%}else{%>
                                    <%=returnn.qty[item]%>
                                    <%}%>
                                </td>

                                <%if(returnn.ID[item]==""){%>

                                <td>Non-ID <input type="checkbox" name="item" value=<%=item%>></td>
                                <%}else{%>
                                <td>
                                    <%for(var ID=0; ID<returnn.ID[item].length;ID++){ %>
                                    <p>
                                        <%=returnn.ID[item][ID]%><input type="checkbox" name="item" value=<%=item%>
                                        <%=ID%>>
                                    </p>
                                    <%}%>
                                </td>
                                <%}%>
                            </tr>
                            <%}%>

                        </tbody>
                        <input type="submit">
                        <input type="checkbox" class="align-right" onClick="toggle(this)" />Approve All<br />
                    </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%})%>

</body>

</html>