<% include ../partials/header%>

<link rel="stylesheet" type="text/css" href="/stylesheet/testall.css">
<link rel="stylesheet" type="text/css" href="/stylesheet/add-app-return.css">
<script>
    function toggle(source) {
  checkboxes = document.getElementsByName('item');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
    </script>
<%var empty=true%>
</head>

<body>
    <div id="wrapper">
        <div id="content">
            <%include ../partials/navbar%>
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="/borrow/pending/member">Borrow pending</a></li>
                    <li ><a href="/return/pending/member">Return pending</a></li>
                </ul>
            </div>
            <div class="container">
                    <table class="table table-striped table-bordered paginated" style="background-color: rgb(209, 209, 209);">
                    <thead>
                        <tr>
                            <th class="col-md-3">Date Pending</th>
                            <th class="col-md-3">Author</th>
                            <th class="col-md-3">Approve</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%borrows.forEach(function(borrow){%>
                        <tr>
                                <%empty=false%>
                            <td>
                                <a class="btn btn-danger btn-xs" href="/borrow/del/<%=borrow._id%>">X</a>
                                <%=borrow.date.toDateString()%> <%=borrow.date.toLocaleTimeString()%>
                            </td>
                            <td>
                                <%=borrow.author.name%>
                            </td>
                            <td>
                                <%=borrow.repatriate%>
                                <a class="btn btn-success btn-md" data-toggle="modal" data-target="#myModal2<%=borrow._id%>">detail</a>

                            </td>
                        </tr>
                        <%})%>
                    </tbody>
                </table>
                <%include ../partials/flashMsg%>
                <%if(empty==true){%>
                    <div class="jumbotron">
                        <div class="container">
                            <h1 class="text-center" style="color:gray;"> Empty</h1>
                        </div>
                    </div>
                <%}%>
            </div>
        </div>
        <% include ../partials/footer %>
    </div>

    <%borrows.forEach(function(borrow){%>
    <div class="modal fade" id="myModal2<%=borrow._id%>" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-folder-open"></span>
                        : Select items to approve
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Picture</th>
                                <th>Items Name</th>
                                <th>Quantity</th>
                                <th>ID</th>
                            </tr>
                            <form action="/borrow/confirm/<%=borrow._id%>" method="POST">
                        </thead>
                        <tbody>
                            <%for(var item=0; item<borrow.itemID.length;item++){ %>
                            <tr>
                                <td><img src="/<%=borrow.pic[item]%>" style="width:50px;"></td>
                                <td>
                                    <%=borrow.itemName[item]%></strong></p>
                                </td>
                                <td>
                                    <%if(borrow.ID[item]==""){%>
                                    <%=borrow.qty[item]%>
                                    <%}else{%>
                                    <%=borrow.qty[item]%>
                                    <%}%>
                                </td>
                                <%if(borrow.ID[item]==""){%>
                                <td>Non-ID <input type="checkbox" name="item" value=<%=item%>></td>
                                <%}else{%>
                                <td>
                                    <%for(var ID=0; ID<borrow.ID[item].length;ID++){ %>
                                    <p>
                                        <%=borrow.ID[item][ID]%><input type="checkbox" name="item" value=<%=item%><%=ID%>>
                                    </p>
                                    <%}%>
                                </td>
                                <%}%>
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                    <input type="submit" class="btn btn-success">
                    <div class="pull-right">
                        <input type="checkbox"  class="styled" onClick="toggle(this)" />Approve All<br />
                    </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%})%>
    <script src="/script/script2.js"></script>

</body>

</html>