<% include ../partials/header%>

<link rel="stylesheet" type="text/css" href="/stylesheet/testall.css">
<link rel="stylesheet" type="text/css" href="/stylesheet/add-app-return.css">
</head>

<body>
    <div id="wrapper">
        <div id="content">
            <%include ../partials/navbar%>

            <div class="container">
                <h1>Check out</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Picture</th>
                            <th>Items Name</th>
                            <th>Quantity</th>
                            <th>ID</th>
                            <th>Del</th>

                        </tr>
                    </thead>
                    <tbody>
                        <%for(var item=0; item<cart.itemID.length;item++){ %>
                        <tr>
                            <td><img src="/<%=cart.pic[item]%>" style="width:50px;"></td>
                            <td>
                                <%=cart.name[item]%>
                            </td>
                            <td>
                                <%if(cart.ID[item]==""){%>

                                <a href="/cart/incItem/<%=item%>" class="btn btn-success btn-xs"> + </a>
                                <%=cart.qty[item]%> <a href="/cart/decItem/<%=item%>" class="btn btn-success btn-xs"> -
                                </a>
                                <%}else{%>
                                <%=cart.qty[item]%>
                                <%}%>

                            </td>
                            <%if(cart.ID[item]==""){%>
                            <td>Non-ID</td>
                            <%}else{%>
                            <td>
                                <%cart.ID[item].forEach(function(ID){%>
                                <p>
                                    <%=ID%> <a href="/cart/<%=item%>/<%=cart.ID[item].indexOf(ID)%>" class="btn btn-danger btn-xs pull-right">x</a></p>

                                <%})%>
                            </td>
                            <%}%>
                            <td><a href="/cart/delItem/<%=item%>" class="btn btn-danger">Del</a></td>
                        </tr>
                        <%}%>

                    </tbody>
                </table>
                <a href="/clearCart"><button class="btn btn-warning pull-right">ClearCart</button></a>
                <a href="/checkout"> <button class="btn btn-success pull-right">Checkout</button></a>
            </div>
        </div>
    </div>

</body>

</html>